.landing {
  &-alert{
      margin-bottom: 0;
  }
  &-header {
      background-size: cover;
      min-height: 570px;
  }
  &-header .motto {
      padding-top: 8%;
      text-align: left;
      z-index: 3;
  }
  &-section {
      padding: 100px 0;
  }
  &-section .btn-simple {
      padding: 0;
  }
  &-section .column {
      padding: 0 75px 0 25px;
  }
}
