.form-control {
  box-shadow: none;

  &:focus {
    outline: 0 !important;
  }

  &::-moz-placeholder,
  &:-moz-placeholder,
  &::-webkit-input-placeholder,
  &:-ms-input-placeholder {
    color: $gray-light;
  }
}
