meta charset="utf-8"
meta http-equiv="X-UA-Compatible" content="IE=edge"
meta name="keywords" content=""
meta name="description" content=""
meta name="viewport" content="width=device-width, initial-scale=1"

/! Disable tap highlight on IE
meta name="msapplication-tap-highlight" content="no"

/! Web Application Manifest
link rel="manifest" href="manifest.json"

/! Add to homescreen for Chrome on Android
meta name="mobile-web-app-capable" content="yes"
meta name="application-name" content=t(:app_name)
link rel="icon" href=image_url('it61-template/touch/chrome-touch-icon-192x192.png') sizes="192x192"

/! Add to homescreen for Safari on iOS
meta name="apple-mobile-web-app-capable" content="yes"
meta name="apple-mobile-web-app-status-bar-style" content="black"
meta name="apple-mobile-web-app-title" content=t(:app_name)
link rel="apple-touch-icon" href=image_url('it61-template/touch/apple-touch-icon.png')

/! Tile icon for Win8 (144x144 + tile color)
meta name="msapplication-TileImage" content=image_url('it61-template/touch/ms-touch-icon-144x144-precomposed.png')
meta name="msapplication-TileColor" content="#2F3BA2"

/! Color the status bar on mobile devices
meta name="theme-color" content="#2F3BA2"

= display_meta_tags site: t(:app_name), separator: '–', reverse: true,
  og: { site_name: t(:app_name), url: request.url,
  title: :title, description: :description }

link href="https://fonts.googleapis.com/css?family=Roboto:regular,italic,thin,light,&amp;amp;lang=en" media="screen" rel="stylesheet"

= stylesheet_link_tag 'it61-template', media: 'all'
= javascript_include_tag 'application'

= auto_discovery_link_tag(:rss, events_path(format: :rss))

= csrf_meta_tags
